@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var domainApi = ViewData["DomainApi"];
}

@section Scripts {   
    <script>
        var checkoutControllers = new checkoutController();
        checkoutControllers.initilizer();
    </script>
}
<!-- main-container -->
<div class="main-container col1-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-12 col-xs-12">
                <div class="col-main">
                    <div class="page-title">
                        <h1>Thanh toán</h1>
                        <label class="hidden" id="domainApiSignalr">@domainApi</label>
                    </div>
                    <div class="page-content checkout-page">
                        <h3 class="checkout-sep">1.Thanh toán như khách hay đăng nhập ?</h3>
                        <div class="box-border">
                            <div class="row">
                                <div class="col-sm-6">

                                    <ul>
                                        <li>
                                            <label>
                                                <input class="radioLogin" type="radio" checked name="radio1" value="0">
                                                Không sử dụng thông tin đăng nhập
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input class="radioLogin" type="radio" name="radio1" value="1">
                                                Sử dụng thông tin đăng nhập
                                            </label>
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:red">Quý khách nên tạo tài khoản để thanh toán !</h4>
                                    <label style="color:brown">
                                        Nếu quý khách đăng nhập trước khi thanh toán sẽ được cộng (5% số tiền của hóa đơn)
                                        vào số dư tài khoản cho mỗi đơn hàng thành công.
                                    </label>
                                    <p style="color:brown">Số tiền sẽ này được trừ khi quý khách mua hàng những lần sau.</p>
                                    <a class="aSendLoginGet button" href="#">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                        <form id="formBillShopping">
                            <h3 class="checkout-sep">2.Thông tin khách hàng</h3>
                            <div class="box-border">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <label class="required">Tên</label>
                                            <input type="text" class="input form-control" name="name" id="name">
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-6">
                                            <label class="required">Địa chỉ nhận hàng</label>
                                            <input type="text" name="address" class="input form-control" id="address">
                                        </div>
                                        <!--/ [col] -->
                                    </li>
                                    <!--/ .row -->
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="phoneNumber" class="input form-control" id="phoneNumber">
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-6">
                                            <label class="required">Email</label>
                                            <input type="text" class="input form-control" name="email" id="email">
                                        </div>
                                        <!--/ [col] -->
                                        <!--/ [col] -->
                                        <div class="col-sm-12">
                                            <label class="required">Ghi chú</label>
                                            <textarea rows="3" class="input form-control" name="" id="note"></textarea>
                                        </div>
                                        <!--/ [col] -->
                                    </li>
                                </ul>
                            </div>

                            <h3 class="checkout-sep">3.Phí vận chuyển</h3>
                            <div class="box-border">
                                <ul class="shipping_method">
                                    <li>
                                        <div class="col-sm-2">
                                            <label class="required">Tỉnh/Thành Phố</label>
                                            <select class="input form-control" name="citySelectList" id="citySelectList">
                                                <option value="">Chọn tỉnh/TP</option>
                                                <option value="701">TP.Hồ Chí Minh</option>
                                                <option value="702">Khu vực khác</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-sm-2" id="proviceDisplay">
                                            <label class="required">Quận/Huyện</label>
                                            <select class="input form-control" name="" id="districtSelectList"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required">Phí vận chuyển</label><br />
                                        <label class="taxtransfer" name="taxtranferRequeired">0.000</label>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="checkout-sep">4.Phương pháp thanh toán</h3>
                            <div class="box-border">
                                <ul>
                                    <li>
                                        <select class="input form-control" name="pamentMethod" id="pamentMethod">
                                            <option value="0">Tiền mặt</option>
                                            <option value="1">OnlinBanking</option>
                                            <option value="2">PaymentGateway</option>
                                            <option value="3">Visa</option>
                                            <option value="4">MasterCard</option>
                                            <option value="5">PayPal</option>
                                            <option value="6">Atm</option>
                                        </select>
                                    </li>

                                </ul>
                            </div>
                            <h3 class="checkout-sep">6.Chi tiết đơn hàng</h3>
                            <div class="box-border">
                                <div class="order-detail-content reponsive-table-shopping">                                 
                                        <table class="table table-bordered table-responsive jtv-cart-summary">
                                            <thead>
                                                <tr>
                                                    <th class="cart_product">Sản phẩm</th>
                                                    <th>Chi tiết</th>
                                                    <th>Giá</th>
                                                    <th>Giá khuyến mãi</th>
                                                    <th>Số lượng</th>
                                                    <th>Tổng tiền</th>
                                                    <th class="action"><i class="fa fa-trash-o"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableShoppingContent"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2" rowspan="3"></td>
                                                    <td colspan="4">Phí vận chuyển</td>
                                                    <td class="taxtransfer">0.000</td>
                                                </tr>
                                                <tr class="hidden">
                                                    <td id="totalMoneyShoppingCart" colspan="2">0</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><strong>Tổng tiền còn dư trong tài khoản</strong></td>
                                                    <td id="totalBalance" colspan="2">0.000</td>
                                                </tr>
                                                <tr class="hidden">
                                                    <td id="totalBalanceForPrice" colspan="2">0</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><strong>Tổng tiền cần thanh toán</strong></td>
                                                    <td id="totalCountPayment" colspan="2"><strong></strong></td>
                                                </tr>
                                                <tr class="hidden">                                                
                                                    <td id="totalCountPaymentForPrice" colspan="2">0</td>
                                                </tr>

                                            </tfoot>
                                        </table>
                                                                        
                                    <div class="cart_navigation">
                                        <button id="addBillShopping" class="button pull-right">Đặt hàng</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End main-container -->

<script id="productShoppingTable-template" type="x-tmpl-mustache">
    <tr>
        <td class="cart_product"><a href="/{{SeoAlias}}.p-{{Id}}.html"><img class="img-responsive" src="{{DomainApi}}{{ThumbnailImage}}" alt="{{Name}}"></a></td>
        <td class="cart_description">
            <p class="product-name"><a href="/{{SeoAlias}}.p-{{Id}}.html"> {{Name}} </a></p>
            <small style="text-transform: none" class="cart_ref">Size: {{Size}}</small><br>
            <small style="text-transform: none" class="cart_ref">Color: {{Color}}</small><br>
        </td>
        <td class="price"><span>{{Price}}</span></td>
        <td class="price"><span>{{PromotionPrice}}</span></td>
        <td class="qty">
            <input class="form-control input-sm updatePriceShoppingCart" data-productid="{{ProductId}}" data-colorid="{{ColorId}}" data-sizeid="{{SizeId}}" type="text" value="{{Quantity}}">
        </td>
        <td class="price"><span>{{TotalPriceItem}}</span></td>
        <td class="action"><a class="removeCheckout" data-sizeid="{{SizeId}}" data-colorid="{{ColorId}}" data-productid="{{ProductId}}" href="#">Delete item</a></td>
    </tr>
</script>