@{
    ViewData["Title"] = "Quên mật khẩu";
    ViewData["MetaDescription"] = "Quý khách hàng đã đổi mật khẩu thành công, xin quý khách kiểm tra mail để lấy lại tai khoản.";
    ViewData["MetaKeyword"] = "Đổi mật khẩu thành công, mật khẩu đã được cập nhật, kiểm tra mail lấy lại mật khẩu.";
}

<h2 style="padding-left:40px">@ViewData["Title"]</h2>
<p style="padding-left:40px">
    Hãy kiểm tra Email để lấy lại mật khẩu. Xin cảm ơn!
</p>
