@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Bạn quên mật khẩu?";  
    ViewData["MetaDescription"] = "Nếu quý khách quên mật khẩu đăng nhập trang web hãy để lại email admin sẽ gửi kích hoạt lại tài khoản";
    ViewData["MetaKeyword"] = "Quên mật khẩu, lấy lại mật khẩu, đổi mật khẩu, lấy lại tài khoản.";
}

<h2 style="margin-left:40px">@ViewData["Title"]</h2>
<h4 style="margin-left:40px">Hãy nhập email đã đăng ký.</h4>
<hr />
<div class="row">
    <div class="col-md-8" style="margin-left:40px">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input style="width:100%" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Xác nhận</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
