@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Bạn đổi lại mật khẩu mới?";
}
<h2 style="margin-left:40px">@ViewData["Title"]</h2>
<h4 style="margin-left:40px">Đổi mật khẩu.</h4>
<hr />
<div class="row">
    <div class="col-md-8" style="margin-left:40px">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input style="width:100%" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input style="width:100%" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input style="width:100%" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Xác nhận</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
