@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 style="margin-left:40px">@ViewData["Title"]</h2>
<p style="margin-left:40px">
    Mật khẩu đã được đổi. Xin <a asp-action="Login">click vào đây để đăng nhập</a>.
</p>
